<!DOCTYPE html>
<html lang="zh-CN">
  <header>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <title>
      Welcome Outside!
    </title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  </header>
  <body>
    <div style="margin-left: 20px; margin-top: 20px">
      <dl>
        <dt>NEW POST(2018-02-28)：</dt>
        <dd>
          <ul>两会将至，为了避免不必要的麻烦，我们决定明天(2018-3-1)上午9点关闭日本服务器[45.76.205.128]。请大家及时将配置切换至San Francisco服务器[149.28.78.44]。服务器详情见以下。</ul>
          <ul>IP: 149.28.78.44</ul>
          <ul>加密方式: rc4-md5</ul>
        </dd>
        <dt>POST(2018-01-29)：</dt>
        <dd>
          <ul>新服务器搭建完成，大家在新服务器上都有账号，只需要把IP和加密方式更换就好，其他和原来一致。</ul>
          <ul>IP: 149.28.78.44</ul>
          <ul>加密方式: rc4-md5</ul>
          <ul>新服务器位于San Francisco，不清楚有没有直连到帝都，所以如果出现网速差的情况烦请告知。谢谢。</ul>
        </dd>
        <dt>POST：</dt>
        <dd><ul>这将是我们发布公告信息的新网址，由于没有买域名，就麻烦大家直接用IP地址了。</ul></dd>
      </dl>
    </div>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
